// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

html {
    background-color: #f3f4f5;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: black;
}

p, ol, ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #757575;
}

.li-3 {
    list-style: none;
}